<ion-content class="home-content" fullscreen>
  <div class="splash-container centered-container fade-in-up">

    <div class="app-icon-home">
      <img src="assets/images/logo.png" alt="Nombre App Logo" class="app-icon">
    </div>

    <h1 class="app-name">NombreDeLaApp</h1>

    <p class="description">
      Inicia una nueva aventura con NombreDeLaApp y descubre una nueva forma de ver el mundo
    </p>

    <ion-button expand="block" class="start-button">
      Comienza
    </ion-button>

    <a class="register-link" href="#">Regístrate</a>

  </div>
</ion-content>
