<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" fullscreen>
  <div class="splash-container centered-container fade-in-up">

    <div class="app-icon-home pulse">
      <img src="assets/images/logo.png" alt="Nombre App Logo" class="app-icon">
    </div>

    <h1 class="app-name">NombreDeLaApp</h1>

    <p class="description">
      Inicia una nueva aventura con NombreDeLaApp<br>
      y descubre una nueva forma de ver el mundo
    </p>

    <!-- Botón que redirige a login -->
    <ion-button expand="block" class="start-button" (click)="goToLogin()">
      Comienza
    </ion-button>

    <a class="register-link" href="#">Regístrate</a>
  </div>
</ion-content>
